apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: node-k8s-app
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:11.4.0
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "200m"
            memory: "512Mi"
        securityContext:
          runAsNonRoot: true
          runAsUser: 472 # Grafana default user
          readOnlyRootFilesystem: true
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        env:
        - name: GF_SECURITY_ADMIN_PASSWORD
          value: "admin" # Senha padrao para portfolio
        volumeMounts:
        - name: grafana-datasources
          mountPath: /etc/grafana/provisioning/datasources/datasource.yaml
          subPath: datasource.yaml
        - name: grafana-dashboards-provider
          mountPath: /etc/grafana/provisioning/dashboards/dashboard.yaml
          subPath: dashboard.yaml
        - name: dashboards
          mountPath: /var/lib/grafana/dashboards
        - name: storage
          mountPath: /var/lib/grafana
      volumes:
      - name: storage
        emptyDir: {}
      - name: grafana-datasources
        configMap:
          name: grafana-datasource
      - name: grafana-dashboards-provider
        configMap:
          name: grafana-dashboard-provider
      - name: dashboards
        configMap:
          name: node-exploratory-dashboard
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: node-k8s-app
spec:
  selector:
    app: grafana
  ports:
    - port: 80
      targetPort: 3000
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource
  namespace: node-k8s-app
data:
  datasource.yaml: |
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      uid: prometheus
      url: http://prometheus-server.monitoring.svc.cluster.local
      access: proxy
      isDefault: true
      jsonData:
        httpMethod: POST
        scrapeInterval: 1m
    - name: Tempo
      type: tempo
      uid: tempo
      url: http://tempo:3200
      access: proxy
      jsonData:
        httpMethod: GET
        tracesToLogs:
          datasourceUid: 'prometheus'
          tags: ['job', 'instance', 'pod']
          mappedTags: [{key: 'service.name', value: 'service'}]
          mapTagNamesEnabled: true

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-provider
  namespace: node-k8s-app
data:
  dashboard.yaml: |
    apiVersion: 1
    providers:
    - name: 'Default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards
