apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- rollout.yaml
- service.yaml
- hpa.yaml
- ingress.yaml
- analysis.yaml
- backend-config.yaml
- dashboard.yaml

images:
- name: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newName: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newTag: 6de45c952dbd1b9a07c8b5704d8259826b2112be
