apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- rollout.yaml
- service.yaml
- hpa.yaml
- ingress.yaml
- analysis.yaml
- backend-config.yaml
- grafana.yaml
- pdb.yaml

configMapGenerator:
- files:
  - node-sre-dashboard.json
  name: node-sre-dashboard

images:
- name: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newName: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newTag: ebec034f18ea47eb747cf1a6a811f7eb8ef3e671
