apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- rollout.yaml
- service.yaml
- hpa.yaml
- ingress.yaml
- analysis.yaml

images:
- name: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newName: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newTag: 95c80dc47dc6a7dc90e38af90d740d39e569912e
