apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: node-k8s-app

# Sloth CRDs (Prerequisite for SLOs)
resources:
- namespace.yaml
- sloth-crd.yaml
- rollout.yaml
- service.yaml
- scaled-object.yaml
- ingress.yaml
- analysis.yaml
- backend-config.yaml
- grafana.yaml
- grafana-finops-dashboard.yaml
- pdb.yaml
- tempo.yaml
- otel-collector.yaml
- slo.yaml
- network-policy.yaml

configMapGenerator:
- files:
  - node-sre-dashboard.json
  - node-sre-decision-grade-dashboard.json
  name: node-exploratory-dashboard

images:
- name: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newName: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newTag: 1.37.0
