apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Sloth CRDs (Prerequisite for SLOs)
resources:
- namespace.yaml
- sloth-crd.yaml
- rollout.yaml
- service.yaml
- hpa.yaml
- ingress.yaml
- analysis.yaml
- backend-config.yaml
- grafana.yaml
- pdb.yaml
- tempo.yaml
- otel-collector.yaml
- slo.yaml
- network-policy.yaml

configMapGenerator:
- files:
  - node-sre-dashboard.json
  - node-sre-decision-grade-dashboard.json
  name: node-exploratory-dashboard

images:
- name: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newName: ghcr.io/alessandrosangalli/node-k8s-cicd-pipeline
  newTag: 1.36.0
